<div>
    <h2>Product Details</h2>

    <form name="productForm" ng-submit="submitForm(productForm.$valid)">
        <div class="form-group">
            <label for="product_name">Product Name</label>
            <input type="text" class="form-control" id="product_name" ng-model="product.name">
        </div>
        <div class="form-group">
            <label for="product_category">Product Category</label>
            <input type="text" class="form-control" id="product_category" ng-model="product.category">
        </div>
        <div class="form-group">
            <label for="product_description">Product Description</label>
            <textarea class="form-control" id="product_description" rows="3" ng-model="product.description"></textarea>
        </div>
        <button type="submit" class="btn btn-default" ui-sref="products">Back</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>